<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データが存在しません</title>
    <style>
        h1{font-size: 30px;margin: 10px;text-align: center;}
        a{font-size: 20px;margin: 10px;text-align: center;}
    </style>
</head>
<body>
    <h1><%= id >という番号が割り振られたデータは存在していません</h1>
    <a href="/keiyo2/">駅一覧に戻る</a>
</body>
</html>