<!Doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>randing page</title>
  <style>
    h2{font-size:50px;margin:10px;text-align:center;}
    p{font-size:20px;margin:5px;text-align:center;}
    span{font-size:30px;margin:10px;text-align:center;}
  </style>
</head>
<body>
  <h2>リンクまとめ</h2>
  <p><span><%= message %></span></p>
  <p><a href="./omikuji1">おみくじ1リンク</a></p>
  <p><a href="./omikuji2">おみくじ2リンク</a></p>
  <p><a href="./omikuji3">おみくじ3リンク</a></p>
  <p><a href="./narabi">乱数文字並べリンク</a></p>
  <p><a href="./hand">じゃんけんリンク</a></p>
</body>
</html>