<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>乱数文字並べ</title>
    <Style>
        h1{font-size:60px;margin:20px;padding:20px}
        h2{font-size:20px;margin:20px;text-align:center;}
        p{font-size:20px;margin:20px;text-align:center;}
        span{font-size:50px;margin:20px;text-align:center;font-style: italic;color:black}
        .fixed-div {font-size:20px;margin:20px;position:fixed;bottom:0;right:0;}
    </Style>
</head>
<body>
    <h1>乱数文字並べ〜alphabet〜</h1>
    <p>乱数文字列10文字は・・・<span><%= wordphrase %></span></p>
    <div class="fixed-div">
    <p><a href="./">メインメニュー</a></p>
    </div>
</body>
</html>