<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>お試しウェブ1〜日付編〜</title>
        <style>
            span{font-size:50px;margin:20px;text-align:center;color:red;}
            p{font-size:20px;margin:10px;text-align:center;}
        </style>
        <body>
            <p>現在時刻は<span><%= mytime %></span>です．</p>
        </body>
    </head>
</html>